@charset "UTF-8";
/* Les fonts */
@font-face {
  font-family: "beyno";
  src: url("../fonts/beyno/");
  src: url("../fonts/beyno/?#iefix") format("embedded-opentype"), url("../fonts/beyno/beyno-webfont.woff2") format("woff2"), url("../fonts/beyno/beyno-webfont.woff") format("woff"), url("../fonts/beyno/beyno-webfont.ttf") format("truetype"), url("../fonts/beyno/beyno-webfont.svg#beynoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "panthera";
  src: url("../fonts/black-panther/");
  src: url("../fonts/black-panther/?#iefix") format("embedded-opentype"), url("../fonts/black-panther/pantheraregular-mvz9j-webfont.woff2") format("woff2"), url("../fonts/black-panther/pantheraregular-mvz9j-webfont.woff") format("woff"), url("../fonts/black-panther/pantheraregular-mvz9j-webfont.ttf") format("truetype"), url("../fonts/black-panther/pantheraregular-mvz9j-webfont.svg#pantheraregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cantarell";
  src: url("../fonts/cantarell/");
  src: url("../fonts/cantarell/?#iefix") format("embedded-opentype"), url("../fonts/cantarell/cantarell-regular-webfont.woff2") format("woff2"), url("../fonts/cantarell/cantarell-regular-webfont.woff") format("woff"), url("../fonts/cantarell/cantarell-regular-webfont.ttf") format("truetype"), url("../fonts/cantarell/cantarell-regular-webfont.svg#cantarellregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "wakanda_forever";
  src: url("../fonts/wakanda_forever/");
  src: url("../fonts/wakanda_forever/?#iefix") format("embedded-opentype"), url("../fonts/wakanda_forever/wakandaforever-regular-webfont.woff2") format("woff2"), url("../fonts/wakanda_forever/wakandaforever-regular-webfont.woff") format("woff"), url("../fonts/wakanda_forever/wakandaforever-regular-webfont.ttf") format("truetype"), url("../fonts/wakanda_forever/wakandaforever-regular-webfont.svg#wakanda_foreverregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Annimation venant de la droite pour tous les éléments */
html {
  -webkit-animation: body 2s ease-out forwards;
          animation: body 2s ease-out forwards;
}

html {
  -webkit-animation: html 2s ease-out;
          animation: html 2s ease-out;
}

@-webkit-keyframes html {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes html {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
h1 {
  font-family: "panthera";
  font-size: 50px;
  color: var(--viollet1);
  top: 0;
}

h2 {
  font-family: "beyno";
  color: var(--viollet1);
  line-height: 40px;
  margin-bottom: 20px;
}

h1:hover, h2:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

h3 {
  font-family: "beyno";
  color: var(--viollet1);
  line-height: 50px;
}

p {
  font-family: "cantarell";
  font-size: 12px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 2% auto;
}
nav .nav-logo img {
  width: 100px;
  height: auto;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Pour que les logos passe en viollet au passage de la souris */
.nav-logo img:hover {
  filter: invert(70%) sepia(20%) saturate(5) hue-rotate(270deg);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
nav ul li {
  margin: 10px;
  color: white;
}

.nav-links a, .nav-links a:visited {
  font-family: "beyno";
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links ul li .active {
  text-decoration: underline;
  color: var(--viollet1);
}

/* Mettre le même background à toutes les pages */
body {
  background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(1, 13, 36, 0.938) 94.57%);
  overflow-x: hidden;
}

/* Les icons statiques sur le côté */
.statics {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin-top: -150px;
  margin-left: 20px;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  overflow: hidden;
  height: 350px;
  cursor: pointer;
}

.icons-statics {
  margin-top: 10px;
  margin-left: 10px;
  height: 340px;
  text-align: end;
}
.icons-statics img {
  width: 20px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
  /* Annimation sur les icons */
}
.icons-statics img:hover {
  filter: invert(0%) sepia(100%) saturate(0);
}

#hr1 {
  border: 2px solid var(--viollet1);
  transition: all 5s ease;
}

#hr2 {
  color: var(--viollet1);
  border: 2px solid var(--viollet1);
  margin-top: -10px;
  margin-left: 8px;
  float: left;
  height: 60%;
  transition: all 5s ease;
}

/* Le footer */
footer {
  width: 100%;
  padding: 7em;
  background-image: url("../Illustrations_Logo/back_footer.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #3D2DA6 0%, #021740 90.43%);
}

.footer-image #bulle-footer, .footer-image #logo-footer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-image #bulle-footer {
  width: 200px;
}

.footer-image #logo-footer {
  width: 100px;
  position: relative;
  z-index: 1;
}

.card-footer {
  width: 95%;
  display: grid;
  grid-template-areas: ". . footer-image footer-links footer-socials" ". . footer-image footer-text footer-text";
}

.footer-image {
  grid-area: footer-image;
  position: relative;
  margin-right: 5em;
  transition: all 0.5s ease-out; /* Animation de 0,5s avec un effet de transition doux */
}
.footer-image::hover {
  transform: scale(1.1);
}

.footer-links {
  grid-area: footer-links;
  color: white;
}
.footer-links p {
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.footer-links ul {
  list-style: none;
  margin-top: 20px;
}
.footer-links ul li a {
  line-height: 25px;
  font-family: "cantarell";
  cursor: pointer;
  font-size: 11px;
  text-decoration: none;
  color: white;
}

.footer-socials {
  grid-area: footer-socials;
}
.footer-socials p {
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.footer-socials img {
  width: 30px;
  margin-right: 20px;
  transition: all 0.5s ease-out; /* Animation de 0,5s avec un effet de transition doux */
}
.footer-socials img:hover {
  transform: scale(1.1);
}

.footer-text {
  margin-top: 80px;
  grid-area: footer-text;
}

:root {
  --rose1: #F2CEF2;
  --viollet1: #9E91B7;
  --rose2: #DF99F2;
  --viollet2: #3D2DA6;
  --bleue: #07338C;
  --bleue2: #021740;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-accueil {
  background-image: url("../Illustrations_Logo/1_Landing_page/Pantherhome1..png");
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 96%;
  height: 500px;
  margin-top: -220px;
}
.hero-accueil #hero-accueil-text {
  width: 23em;
}
.hero-accueil h1 {
  width: 500px;
}
.hero-accueil h2 {
  width: 500px;
}

.hero-accueil a, .slider a, .hero-wakanda a {
  color: #ffffff;
  font-size: 0.7em;
  font-family: "cantarell";
}

.container {
  width: 95%;
  height: 250px;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 5%;
  margin-bottom: 15%;
  transition: all 1s ease;
  overflow: visible;
  margin-top: 5%;
}
.container div {
  display: block;
  flex-wrap: nowrap;
  background-color: var(--bleue2);
}
.container div img {
  float: left;
  margin-right: 1em;
  width: 200px;
}
.container .slider-text {
  margin-top: 20px;
  padding: 1em;
  width: 480px;
  height: auto;
  padding: 1em 1em 1em 3em;
}
.container .slider-text p {
  text-align: justify;
  height: auto;
  overflow: auto;
}
.container .slider-text h3 {
  line-height: 20px;
}
.container #killmonger-div {
  width: 544px;
  height: auto;
}
.container .slider-img {
  height: 250px;
  width: auto;
}
.container .slider-img:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

#killmonger {
  width: auto;
  height: 20em;
  margin-top: -2em;
  margin-left: 1.5em;
}

/* Les flèches pour le slider */
#droite {
  width: 200px;
  position: absolute;
  top: 620px;
  right: -80px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease;
}
#droite:hover {
  opacity: 1;
}

#gauche {
  width: 200px;
  position: absolute;
  top: 620px;
  left: 20px;
  cursor: pointer;
  transform: rotate(180deg);
  opacity: 0.5;
  transition: all 0.3s ease;
}
#gauche:hover {
  opacity: 1;
}

.bio {
  display: grid;
  width: 80%;
  margin: 10% auto;
  grid-template-columns: 2fr 1fr;
  gap: 10%;
}
.bio .bio-gauche {
  text-align: justify;
}
.bio .bio-gauche h3 {
  line-height: 3em;
}
.bio .bio-gauche p {
  font-size: 12px;
}
.bio .bio-droite div {
  background-color: rgba(255, 255, 255, 0.863);
  font-family: "cantarell";
  border-radius: 5px;
  text-align: justify;
  width: 100%;
  height: 550px;
  padding: 40px;
  margin-top: 150px;
}
.bio .bio-droite label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}
.bio .bio-droite p {
  color: var(--bleue2);
  line-height: 12px;
}
.bio .bio-droite span {
  font-weight: bold;
}
.bio .bio-droite button {
  display: inline-block;
  font-size: 10px;
  padding: 5px;
  margin: 20px 5px;
  color: white;
  background-color: var(--viollet2);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

#bio-photo1 {
  width: 100%;
  height: auto;
  float: inline-start;
  position: relative;
  margin-top: -230px;
}
#bio-photo1:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

#bio-photo2 {
  display: block;
  width: 80%;
  height: auto;
  margin: 3em auto;
}

/* La section contact */
.contact {
  height: auto;
  margin-bottom: 12em;
  background-image: url("../Illustrations_Logo/1_Landing_page/Pantherhome4.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact form {
  width: 50%;
  height: auto;
  padding: 3em 7em 3em 7em;
  margin: 0 auto;
  display: block;
  justify-content: center;
  background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.137));
  border-radius: 150px;
  position: relative;
  top: 100px;
}
.contact form p {
  color: black;
  text-align: center;
}
.contact form p + p {
  font-size: 30px;
  font-weight: bold;
}
.contact form input, .contact form textarea {
  background: transparent;
  color: black;
}
.contact form input, .contact form button, .contact form textarea {
  display: block;
  line-height: 30px;
  margin: 0 auto;
}
.contact form input {
  height: 10px;
}
.contact form input::-moz-placeholder, .contact form textarea::-moz-placeholder {
  color: black;
}
.contact form input:-ms-input-placeholder, .contact form textarea:-ms-input-placeholder {
  color: black;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  color: black;
}
.contact form input, .contact textarea {
  width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 40px;
  padding: 1rem;
  padding-left: 2rem;
  border: 1px solid black;
}
.contact form button {
  border-radius: 50px;
  margin-top: 20px;
  padding: 5px;
  width: 120px;
  background-color: var(--rose1);
  border: none;
  font-size: 10px;
  font-weight: bold;
  box-shadow: 0 0 5px var(--rose1);
  transition: box-shadow 0.3s ease;
}
.contact form button:hover {
  box-shadow: 0 0 20px var(--rose1);
}

#canvas {
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 999;
}

.hero-enigme {
  width: 90%;
  background-image: url("../Illustrations_logo/3_Page_Enigme/Pantherenigme1.png");
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 800px;
  margin-top: -10em;
}

.div-hero {
  width: 30%;
  height: auto;
  color: white;
  padding-left: 13%;
  padding-top: 10%;
}

.div-hero-enigme {
  float: right;
  width: 35%;
  height: auto;
  color: white;
  padding-top: 25%;
  margin-right: 5em;
}
.div-hero-enigme h1 {
  font-family: "beyno";
  color: var(--viollet1);
  line-height: 40px;
  font-size: 40px;
  margin-bottom: 20px;
  letter-spacing: 4px;
  text-align: justify;
  padding: 5px;
}

.hero-text-enigme {
  margin-top: 40px;
  width: 30%;
  text-align: justify;
  margin-top: 200px;
  margin-left: 300px;
}
.hero-text-enigme p {
  margin-top: 20px;
}

.hero-text-enigme, .div-hero-enigme #hero-img1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div-hero-enigme #hero-img1 {
  width: 750px;
  margin-left: 70px;
}

.div-hero-enigme #hero-img2 {
  width: 35px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#text-enigme {
  width: 70%;
  margin: 5% auto;
  display: grid;
  grid-template-areas: "text text" "alpha paragraphe";
  gap: 1em;
  margin-bottom: 100px;
}
#text-enigme h2 {
  font-family: "beyno";
  color: var(--viollet1);
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 20px;
}
#text-enigme h2 span {
  font-family: arial, sans-serif;
  color: var(--viollet1);
  font-size: 20px;
}
#text-enigme h3 {
  grid-area: text;
  font-family: "wakanda_forever";
  letter-spacing: 7px;
  line-height: 30px;
  margin-bottom: 2em;
}

.question {
  grid-area: alpha;
  width: 400px;
}
.question #enonce {
  margin-bottom: 4em;
}
.question p {
  text-align: justify;
}

#form {
  margin-top: 50px;
}

#text-enigme input {
  width: 75%;
  padding: 7px 7px 7px 25px;
  margin-bottom: 50px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid var(--rose1);
  color: var(--rose1);
}
#text-enigme input::-moz-placeholder {
  font-size: 11px;
  color: var(--rose1);
}
#text-enigme input:-ms-input-placeholder {
  font-size: 11px;
  color: var(--rose1);
}
#text-enigme input::placeholder {
  font-size: 11px;
  color: var(--rose1);
}
#text-enigme input #div-btn {
  width: 75%;
  text-align: center;
}

#text-enigme button {
  width: 120px;
  padding: 9px;
  border-radius: 50px;
  background-color: var(--rose1);
  font-size: 11px;
  font-weight: bold;
  transition: box-shadow 0.3s ease;
  border: none;
  z-index: 999;
}
#text-enigme button:hover {
  box-shadow: 0 0 20px var(--rose1);
}

.anecdote {
  grid-area: paragraphe;
  width: 30vw;
  text-align: center;
  margin-top: 5em;
  margin-left: 5em;
}

.anecdote div, .anecdote div img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.anecdote div {
  position: relative;
  z-index: 1;
  margin-top: -100px;
}
.anecdote div p {
  width: 100%;
  font-size: 12px;
  text-align: justify;
}
.anecdote div p .car {
  font-family: "wakanda_forever";
}
.anecdote div img {
  width: 600px;
}

/* Popup */
.popup {
  background: rgba(148, 127, 148, 0.7882352941);
  width: 500px;
  height: 400px;
  border-radius: 15px;
  position: absolute;
  top: 85%;
  left: 30%;
  transform: scale(0.1);
  text-align: center;
  padding: 3em;
  visibility: hidden;
  transition: all 1s ease;
  border: 1px solid rgba(128, 128, 128, 0.726);
  z-index: 2;
}
.popup p {
  font-size: 18px;
  color: white;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.popup button {
  width: 55%;
  padding: 15px;
  border-radius: 50px;
  background-color: var(--rose1);
  font-size: 13px;
  font-weight: 550;
  transition: box-shadow 0.3s ease;
  border: none;
  margin-top: 4em;
  margin-bottom: 3em;
  cursor: pointer;
}
.popup button:hover {
  box-shadow: 0 0 20px var(--rose1);
}
.popup div {
  width: 70%;
  display: block;
  margin: 0 auto;
}
.popup div img {
  margin-left: 3em;
  float: left;
}
.popup div p {
  font-size: 14px;
  margin: 0;
}
.popup div p + p {
  font-size: 28px;
}

.popup-ouvert {
  transform: translate(0%, 50%) scale(1.2);
  visibility: visible;
}

.hero-wakanda {
  width: 103%;
  height: 800px;
  background-image: url("../Illustrations_logo/2_Wakanda_page/Pantherwakanda1-mod.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1.5em;
  margin-left: -3%;
}
.hero-wakanda .div-hero {
  width: 30%;
  text-align: justify;
}
.hero-wakanda h1 {
  font-family: "beyno";
  color: var(--viollet1);
  line-height: 40px;
  font-size: 40px;
  letter-spacing: 4px;
  width: 500px;
  margin-top: 2em;
}
.hero-wakanda h2 {
  font-family: "wakanda_forever";
  letter-spacing: 10px;
  width: 500px;
}
.hero-wakanda p {
  width: 370px;
}

/* Les sections dans Wakanda */
.doc {
  width: 80%;
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10%;
  margin: 0 auto;
  text-align: justify;
  background: url("../Illustrations_Logo/2_Wakanda_page/Pantherwakanda2-mod.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
.doc iframe {
  margin-top: 20px;
  margin-bottom: 20px;
}
.doc h3 {
  margin-top: 20px;
}
.doc div {
  margin-top: -50px;
  padding-bottom: 50px;
}
.doc div img {
  margin-top: 1em;
  width: 100%;
}

/* Pour la page d'acceuil */
@media screen and (max-width: 1000px) {
  .slider-text {
    margin-top: 0;
  }
  /* Pour que le texte ne passe pas à la ligne */
  .div-hero a {
    white-space: nowrap;
  }
  .bio {
    display: block;
    margin: 0 auto;
  }
  .bio-gauche {
    margin-bottom: 30%;
  }
  .bio .bio-droite div {
    margin: 0 auto;
    width: 50%;
    height: auto;
  }
  .bio .bio-droite p {
    font-size: 12px;
    line-height: 1.2em;
  }
  #bio-photo2 {
    min-width: 250px;
  }
}
@media screen and (max-width: 800px) {
  .bio p {
    font-size: 19px;
  }
  .hero-accueil {
    margin-bottom: 10%;
  }
  .bio {
    display: block;
    margin: 0 auto;
  }
  .bio-gauche {
    margin-bottom: 15em;
  }
  .bio-droite p {
    line-height: 1em;
  }
  .bio .bio-droite div {
    margin: 0 auto;
    min-width: 250px;
    height: auto;
  }
  .contact form {
    min-width: 350px;
    padding: 2em;
  }
  .contact form input, .contact form textarea {
    min-width: 80%;
  }
  /* Pour tous les footer */
  footer {
    width: 100%;
    padding: 1em 0;
    margin: 0 auto;
  }
  .card-footer {
    width: 90%;
    margin: 2em auto;
    display: grid;
    grid-template-areas: "footer-image footer-links" "footer-image footer-socials" "footer-text footer-text";
    gap: 10px;
  }
  .footer-image {
    padding: 3em;
  }
  .footer-image #bulle-footer {
    width: 150px;
  }
  .footer-image #logo-footer {
    width: 70px;
  }
  .footer-text p {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .nav-logo img {
    visibility: hidden;
    position: absolute;
  }
  .statics {
    margin-left: 10px;
  }
  .icons-statics {
    margin-left: 3px;
  }
  .hero-accueil {
    margin-bottom: 10%;
  }
  #hero-accueil-text p {
    font-size: 13px;
  }
  /* Pour éviter le découpage de mot */
  .div-hero a {
    width: 150%;
    white-space: nowrap;
  }
  #hr2 {
    margin-left: 5px;
  }
  section {
    padding: 0px 1em 0px 1em;
  }
  .bio p {
    font-size: 16px;
  }
  .div-hero img {
    visibility: hidden;
  }
  .hero-accueil {
    background-image: none;
  }
  .div-hero {
    background-image: none;
    width: 10%;
    height: auto;
  }
  #hero-accueil-text p {
    padding-right: 10em;
  }
  #fleche {
    top: 600px;
  }
  .bio {
    display: block;
    margin: 0 auto;
  }
  .bio-gauche {
    margin-bottom: 15em;
  }
  .bio-droite #bio-photo2 {
    padding: 0;
    margin: 0;
  }
  /* Pour tous les footer */
  .contact form {
    width: 40%;
    padding: 5em;
  }
  footer {
    width: 100%;
    padding: 1em 0 1em 0;
    margin: 0 auto;
  }
  .card-footer {
    width: 90%;
    margin: 3em auto;
    display: grid;
    grid-template-areas: "footer-image footer-links " "footer-image footer-socials" "footer-text footer-text";
    gap: 10px;
  }
  .footer-image {
    margin-right: 0px;
  }
}
@media screen and (max-width: 300px) {
  .statics {
    margin-left: 5px;
  }
  #hr2 {
    margin-left: 5px;
  }
  #hero-accueil-text p {
    padding-right: 15em;
  }
  .bio-droite div {
    padding: 30px;
  }
  /* Pour tous les footer */
  .contact form {
    width: 40%;
    padding: 5em;
  }
  .footer-image {
    padding: 1em;
  }
}
/* Dans la page Wakanda */
@media screen and (max-width: 800px) {
  .hero-wakanda h1 {
    margin-top: 3em;
  }
  .hero-wakanda .div-hero {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .hero-wakanda h1 {
    width: auto;
  }
  .hero-wakanda .div-hero {
    width: 60%;
  }
  .doc {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .hero-wakanda h1 {
    width: auto;
  }
  .hero-wakanda h2 {
    width: 250px;
  }
  .hero-wakanda .div-hero {
    width: 70%;
  }
  .hero-wakanda p {
    width: 250px;
    font-size: 15px;
  }
  .doc {
    display: block;
  }
}
/* Pour la page Enigme */
@media screen and (max-width: 1000px) {
  .div-hero-enigme {
    display: block;
    float: none;
    margin: 0 auto;
  }
  .div-hero-enigme h1 {
    text-align: center;
    margin: 0 auto;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
  .hero-text-enigme {
    margin: 18em auto;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .div-hero-enigme h1 {
    margin-top: 150px;
    width: 170%;
    margin-bottom: 10em;
  }
  .div-hero-enigme p {
    width: 350px;
    margin-left: -70px;
  }
  #text-enigme {
    display: block;
  }
  #text-enigme .anecdote {
    margin-top: 20em;
  }
  #text-enigme h2 {
    margin-top: 150px;
  }
  .question div {
    width: 150%;
    font-size: 17px;
  }
}
@media screen and (max-width: 400px) {
  .hero-enigme {
    background-image: none;
  }
  .div-hero-enigme div {
    width: 90%;
  }
  #form {
    margin-top: 2em;
  }
  #text-enigme {
    grid-template-areas: "text text" "alpha alpha" "paragraphe paragraphe";
  }
  .text-enigme {
    margin-top: 90%;
  }
  .question {
    margin-top: 250px;
  }
  .question div {
    width: 150%;
    font-size: 17px;
  }
}/*# sourceMappingURL=main.css.map */