// Le canva
#canvas {
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 999;
}

.hero-enigme {
    width: 90%;
    background-image: url("../Illustrations_logo/3_Page_Enigme/Pantherenigme1.png");
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 800px;
    margin-top: -10em;
}

.div-hero {
    width: 30%;
    height: auto;
    color: white;
    padding-left: 13%;
    padding-top: 10%;
}

.div-hero-enigme {
    float: right;
    width: 35%;
    height: auto;
    color: white;
    padding-top: 25%;
    margin-right: 5em;

    h1{
        font-family: "beyno";
        color: var(--viollet1);
        line-height: 40px;
        font-size: 40px;
        margin-bottom: 20px;
        letter-spacing: 4px;
        text-align: justify;
        padding: 5px;
    }
}

.hero-text-enigme {
    margin-top: 40px;
    width: 30%;
    text-align: justify;    
    margin-top: 200px;
    margin-left: 300px;

    p{
        margin-top: 20px;
    }
}

.hero-text-enigme, .div-hero-enigme #hero-img1 {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div-hero-enigme #hero-img1 {
    width: 750px;
    margin-left: 70px;
}

.div-hero-enigme #hero-img2 {
    width: 35px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#text-enigme {
    width: 70%;
    margin: 5% auto;
    display: grid;
    grid-template-areas: 
        "text text"
        "alpha paragraphe";
    gap: 1em;
    margin-bottom: 100px;

    h2 {
        font-family: "beyno";
        color: var(--viollet1);
        font-size: 20px;
        text-decoration: underline;
        margin-bottom: 20px;
    
        span {
            font-family: arial ,sans-serif;
            color: var(--viollet1);
            font-size: 20px;
        }
    }    

    h3 {    
        grid-area: text;
        font-family: "wakanda_forever";
        letter-spacing: 7px;
        line-height: 30px;
        margin-bottom: 2em;
    }
}

.question{
    grid-area: alpha;
    width: 400px;
    
    #enonce {
        margin-bottom: 4em;
    }

    p {
        text-align: justify;
    }
}

#form {
    margin-top: 50px;
}

#text-enigme input {
    width: 75%;
    padding: 7px 7px 7px 25px;
    margin-bottom: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid var(--rose1);
    color: var(--rose1);

    &::placeholder {
        font-size: 11px;
        color: var(--rose1);
    }

    #div-btn{
        width: 75%;
        text-align: center;
    }
}

#text-enigme button{
    width: 120px;
    padding: 9px;
    border-radius: 50px;
    background-color: var(--rose1);
    font-size: 11px;
    font-weight: bold;
    transition: box-shadow 0.3s ease;
    border: none;
    z-index: 999;

    &:hover{
        box-shadow: 0 0 20px var(--rose1);
    }
}

.anecdote {
    grid-area: paragraphe;
    width: 30vw;
    text-align: center;
    margin-top: 5em;
    margin-left: 5em;
}

.anecdote div, .anecdote div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 


.anecdote div {
    position: relative;
    z-index: 1;
    margin-top: -100px;

    p {
        width: 100%;
        font-size: 12px;
        text-align: justify;

        .car {
            font-family: "wakanda_forever";
        }
    }

    img {
        width: 600px;
    }
}

/* Popup */
.popup {
    background: #947f94c9;
    width: 500px;
    height: 400px;
    border-radius: 15px;
    position: absolute;
    top: 85%;
    left: 30%;
    transform: scale(0.1);
    text-align: center;
    padding: 3em;
    visibility: hidden;
    transition: all 1s ease;
    border: 1px solid rgba(128, 128, 128, 0.726);
    z-index: 2;

    p{
        font-size: 18px;
        color: white;
        margin-bottom: 1em;
        text-transform: uppercase;
    }

    button {
        width: 55%;
        padding: 15px;
        border-radius: 50px;
        background-color: var(--rose1);
        font-size: 13px;
        font-weight: 550;
        transition: box-shadow 0.3s ease;
        border: none;
        margin-top: 4em;
        margin-bottom: 3em;
        cursor: pointer;

        &:hover{
            box-shadow: 0 0 20px var(--rose1);
        }
    }

    div {
        width: 70%;
        display: block;
        margin: 0 auto;

        img {
            margin-left: 3em;
            float: left;
        }

        p {
            font-size: 14px;
            margin: 0;
        }

        p + p {
            font-size: 28px;
        }
    }
}

.popup-ouvert {
    transform: translate(0%,50%) scale(1.2);
    visibility: visible;
}

